@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #2b0152;
  padding: 10px 0;
  text-align: center;
  color: white;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 2.5rem;
  color: #ffffff;
}

p {
  margin: 20px 0;
  font-size: 1.2rem;
}

.button-group .btn {
  margin: 10px;
  padding: 10px 20px;
  background-color: #280242;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-group .btn:hover {
  background-color: #230258;
}

.form-container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

button.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #280242;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.btn:hover {
  background-color: #4b176e;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.btn-edit {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0d4202;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Arquivo: styles.css */

.btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-search,
.btn-delete,
.btn-edit {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-delete button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-delete button:hover {
  background-color: #c82333;
}

/* Transições e estilo para NUI */
.nui-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
  opacity: 0;
  transform: translateY(20px);
}

.nui-card .card-body {
  padding: 20px;
  text-align: center;
}

.nui-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.btn-action {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #24212173;
}

.btn-action:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(134, 134, 134, 0.2);
}

/* Estilo específico para o Home */
.home-header {
  text-align: center;
  margin-bottom: 40px;
}

.card-icon {
  font-size: 3rem;
  color: #4b176e;
  margin-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}

.card-icon:hover {
  transform: scale(1.2);
}

.nui-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  height: 250px; /* Define uma altura mínima consistente */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente o conteúdo */
}

/* Estilizando a classe card-text */
.card-text {
  font-size: 1.25rem; /* Um pouco maior para destaque */
  color: #6200ff; /* Tom neutro para melhor contraste */
  line-height: 1.6; /* Espaçamento entre linhas para melhorar a legibilidade */
  margin-bottom: 15px; /* Espaçamento adicional entre o texto e outros elementos */
  font-style: italic; /* Um leve toque estilizado */
  text-align: justify; /* Alinhamento mais formal e organizado */
  transition: color 0.3s ease-in-out;
}

.card-text:hover {
  color: #432a7e; /* Mudança de cor sutil ao passar o mouse */
}

.card-title {
  font-size: 1.25rem; /* Um pouco maior para destaque */
  margin-bottom: 1px;
}

/* Espaçamento maior entre opções no menu principal */
nav a {
  margin: 0 25px; /* Maior espaçamento lateral entre os itens */
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.2rem; /* Um pouco maior para destaque */
}

nav a:hover {
  text-decoration: underline;
  color: #f0e6ff; /* Leve contraste ao passar o mouse */
}

/* Espaçamento entre itens no menu principal no mobile */
@media (max-width: 768px) {
  nav a {
    display: block; /* Empilhando itens no menu */
    margin: 5px 0; /* Espaçamento vertical entre os itens */
  }
}

.nui-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(35, 2, 78, 0.3);
}

hr {
  border-top: 2px solid #280242;
}

/* Botão do menu no canto superior esquerdo */
.menu-btn {
  position: fixed; /* Fixa no canto da tela */
  top: 45px; /* Distância do topo */
  right: 15px; /* Distância da direita */
  background-color: #4b176e; /* Fundo destacado */
  border: none;
  border-radius: 50%; /* Forma circular */
  width: 50px; /* Tamanho do botão */
  height: 50px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center; /* Centraliza o ícone verticalmente */
  justify-content: center; /* Centraliza o ícone horizontalmente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
  transition: transform 0.3s, background-color 0.3s; /* Animação suave */
}

.menu-btn:hover {
  background-color: #310485; /* Cor de fundo ao passar o mouse */
  transform: scale(1.1); /* Leve aumento ao passar o mouse */
}

/* Sidebar (menu lateral) */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Escondido inicialmente */
  width: 250px;
  height: 100%;
  background-color: #280242;
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.sidebar-menu li a:hover {
  text-decoration: underline;
}

/* Sidebar visível */
.sidebar.active {
  left: 0; /* Mostra a sidebar */
}


                   /* Outros estilos */

                   .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #480ca8;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #f72585;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f72585;
}

.btn {
    background-color: #f72585;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

/* TELA DE LOGIN */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #480ca8;
}

.formLogin {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  padding: 40px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px
}

.areaLogin img {
  width: 420px;
}

.formLogin h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formLogin p {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.formLogin input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}


.formLogin input:focus {
  border: 1px solid #f72585;
}

.formLogin label {
  font-size: 14px;
  font-weight: 600;
}

.formLogin a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #555;
  transition: all linear 160ms;
}

.formLogin a:hover {
  color: #f72585;
}

.btn {
  background-color: #f72585;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;

}