{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>Detalhes do Produto</h2>
    <div>
        <h3>ID: {{ produto.id }}</h3>
        <p><strong>Nome:</strong> {{ produto.nome }}</p>
        <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
        <p><strong>Preço:</strong> R$ {{ '%.2f' % produto.preco }}</p>
        <p><strong>Quantidade:</strong> {{ produto.quantidade }}</p>
        {% if produto.categoria_id %}
            <p><strong>Categoria ID:</strong> {{ produto.categoria_id }}</p>
            <p><strong>Categoria Nome:</strong> {{ produto.categoria_nome }}</p>
        {% else %}
            <p><strong>Categoria:</strong> Sem categoria</p>
        {% endif %}
    </div>
</div>
{% endblock %}
