{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>Lista de Categorias</h2>
    {% if categorias %}
        <ul>
            {% for categoria in categorias %}
                <li>
                    {{ categoria.nome }} - {{ categoria.descricao }}
                    <a href="{{ url_for('editar_categoria', categoria_id=categoria.id) }}" class="btn btn-edit">Editar</a>
                    <form action="{{ url_for('remover_categoria', categoria_id=categoria.id) }}" method="POST" onsubmit="return confirm('Tem certeza de que deseja remover esta categoria?')">
                        <button type="submit" class="btn btn-delete">Remover</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma categoria encontrada.</p>
    {% endif %}
</div>
{% endblock %}
