{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>Buscar Produtos</h2>
    <form method="GET" action="{{ url_for('buscar_produtos') }}">
        <label for="query">Nome do Produto:</label>
        <input type="text" id="query" name="query"><br><br>
        <button type="submit" class="btn">Buscar</button>
    </form>

    <h2>Lista de Produtos</h2>
    {% if resultado %}
        <table border="1">
            <thead>
                <tr>
                    <th>ID Produto</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço Unitário</th>
                    <th>Quantidade</th>
                    <th>Preço Total</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in resultado %}
                    <tr>
                        <td>{{ produto.id }}</td>
                        <td><a href="{{ url_for('detalhes_produto', produto_id=produto.id) }}">{{ produto.nome }}</a></td>
                        <td>{{ produto.descricao }}</td>
                        <td>R$ {{ '%.2f' % produto.preco }}</td>
                        <td>{{ produto.quantidade }}</td>
                        <td>R$ {{ '%.2f' % produto.preco_total }}</td>
                        <td><a href="{{ url_for('categoria', categoria_id=produto.categoria_id) }}">{{ produto.categoria_nome }}</a></td>
                        <td>
                            <a href="{{ url_for('editar_produto', produto_id=produto.id) }}" class="btn btn-edit">Editar</a>
                            <form action="{{ url_for('remover_produto', produto_id=produto.id) }}" method="POST" onsubmit="return confirm('Tem certeza de que deseja remover este produto?')">
                                <button type="submit" class="btn btn-delete">Remover</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum produto encontrado.</p>
    {% endif %}
</div>
{% endblock %}
