{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>Categoria: {{ categoria.nome }}</h2>
    <h2>Descrição: {{ categoria.descricao }}</h2>
    {% if categoria.produtos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in categoria.produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>
                        <a href="{{ url_for('editar_produto', produto_id=produto.produto_id) }}" class="btn btn-edit">Editar</a>
                        <form action="{{ url_for('remover_produto', produto_id=produto.produto_id) }}" method="POST" onsubmit="return confirm('Tem certeza de que deseja remover este produto?')">
                            <button type="submit" class="btn btn-delete">Remover</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum produto encontrado.</p>
    {% endif %}
</div>
{% endblock %}
