{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>Saída de Produtos</h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.produto }}</td>
                <td>{{ log.quantidade }}</td>
                <td>{{ log.data }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
